@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', serif;
}

html{
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  body{
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;

    nav {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 2rem;

      .logo {
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        color: black;
        text-transform: lowercase;
      }

      ul {
        display: flex;
        align-items: center;
        gap: 2rem;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;
        }
      }

      .login {
        margin-left: auto;
        display: flex;
        gap: 2rem;
        align-items: center;
      }
    }

    main{
      width: 100%;
      height: 100%;
      padding: 0 7rem;
      display: flex;
      gap: 4rem;

      .left{
        height: 100%;
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

        .logos{
          display: flex;
          align-items: center;
          gap: 1rem;

          img{
            height: 1.5rem;
            object-fit: contain;
          }
        }
      }
      
      img.right{
        height: 100%;
        width: 50%;
        padding: 3rem;
      }
    }
  }
}

h1{
  font-size: 5rem;
  line-height: 4.5rem;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  text-transform: capitalize;

  &:hover {
    color: black;
  }
}

button {
  padding: 0.75rem 2.5rem;
  border-radius: 0.75rem;
  background: black;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  text-transform: capitalize;
  width: fit-content;

  &:hover {
    background-color: rgb(49, 49, 49);
  }
}

button.secondary {
  border: 2px solid hsl(0, 0%, 41%);
  background: transparent;
  color: hsl(0, 0%, 41%);

  &:hover {
    color: black;
    border-color: black;
  }
}