@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'tailwindcss';

@theme {
  /*  */
}

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box !important;
}

/* Base font sizes for mobile/small screens */
h1 {
  @apply text-3xl font-bold text-white capitalize;
}

h2 {
  @apply text-2xl font-semibold text-white capitalize;
}

h3 {
  @apply text-xl font-medium text-white capitalize;
}

h4 {
  @apply text-lg font-medium text-white capitalize;
}

p,
a {
  @apply text-base text-gray-50;
}

/* Medium screens (md) */
@media (min-width: 768px) {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p,
  a {
    @apply text-base;
  }
}

/* Large screens (lg) */
@media (min-width: 1024px) {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  p,
  a {
    @apply text-lg;
  }
}

span {
  @apply text-white;
}

.caveat {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.md\:hidden {
  @media (width >= 48rem /* 768px */) {
    display: none !important;
  }
}

.filter-menu {
  @media (width >= 48rem /* 768px */) {
    height: calc(100vh - 5.5rem);
  }
}

.filter-section {
  @apply w-full rounded-2xl border md:border-none border-gray-500 bg-gray-900 md:bg-transparent aspect-[4/3] p-4 md:p-0 flex flex-col gap-4;
}

button {
  @apply cursor-pointer;
}

.btn {
  @apply bg-amber-500 hover:bg-amber-400 text-gray-900 px-6 py-2 rounded-full capitalize flex items-center justify-center transition-all duration-300;
}

.btn-secondary {
  @apply text-amber-500 bg-transparent hover:bg-gray-700 px-6 py-2 rounded-full capitalize flex items-center justify-center border border-amber-500 transition-all duration-300;
}
.input-wrapper {
  @apply flex flex-col gap-1;

  label {
    @apply text-gray-300 capitalize;
  }

  input {
    @apply w-full text-white bg-transparent outline-none focus:outline-none border border-gray-500 focus:border-amber-500 px-4 py-2 rounded-full transition-all duration-300;
  }

  select {
    @apply text-white capitalize bg-gray-600 px-4 py-2 rounded-xl;

    option {
      @apply text-white w-full;
    }
  }

  .radio-input{
    @apply flex items-center gap-1 pl-2;

    input{
      @apply accent-amber-500 w-fit;
    }
  }
}

html {
  @apply bg-black w-screen h-dvh overflow-hidden;

  body {
    section {
      @apply m-0 px-4;
    }
  }
}
